body {
	background: #C5E2E1;
}

i {
	padding: 15px;
	color: #1F6CCC;
}

table {
	width:  350px;
	height: 350px;
	border-radius: 10px;
}

td, td {
	width: 33%;
	height: 33%;
}

#container {
	display: inline-block;
	background: #C2F5FC;
	position:  absolute;
	margin-left:auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding: 10px;
	width: 350px;
	height: fit-content;
	outline: 1px outset white;
	box-shadow: 2px 2px 5px 2px grey;
	border-radius: 20px;
}

#showGameStatus {
	color: green;
}

.align_center {
	text-align: center;
}

.center {
	position: absolute;
	margin: 0;
	left: 50%;
}
.centeredElements {
	margin: auto;
	padding: auto;
}

td:hover {
	background: #90BDF4;
}

.glow_btn {
	background: #1D87AB;
	box-shadow: 3px 3px 10px 1px #2594BA;
	border-radius: 5px;
	color: #FFF;
	border: none;
	height: 25px
}

.glow_btn:hover {
	background: #176A87;
	cursor: pointer;
}

.glow_btn:active {
	background: #235BD6;
}